.full_container{
    display: flex;
    justify-content: space-between;
    background-color: cornsilk;
}

.currency_container{
    width: 500px;
    background-color: white;
    height: 600px;
    border-radius: 30px;
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
}


.dropdown_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.DropdownR{
    width: 200px;
    margin-top: 5px;
    margin-right: 25px;
}

.DropdownL{
    width: 200px;
    margin-top: 20px;
    margin-left: 25px;
}

.input_container{
    display: grid;
    text-align: center;
    justify-content: center;
}

.input_container input{
    width: 450px;
    padding: 5px 15px 5px 15px;
    font-size: 20px;
    border-radius: 5px;
    border-style: none;
    border-bottom: 2px solid #1E5748;
    margin-bottom: 20px;
}



.image_container{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.image_container h3{
    font-weight: 700;
    font-size: 25px;
    color: #1E5748;
}

.button_container{
    text-align: center;
}

.button_container .button{
    background-color: #1E5748;
    width: 450px;
}

.result_container{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.amount{
    font-size: 20px;
    border-bottom: 3px solid black;
    width: 90px;
    display: flex;
    justify-content: center;
}

.from{
    font-size: 20px;
    border-bottom: 3px solid black;
    width: 90px;
    display: flex;
    justify-content: center;
}

.convarted{
    font-size: 20px;
    border-bottom: 3px solid black;
    width: 90px;
    display: flex;
    justify-content: center;
}

.to{
    font-size: 20px;
    border-bottom: 3px solid black;
    width: 90px;
    display: flex;
    justify-content: center;
}

.result_container i{
    font-size: 25px;
    font-weight: bold;
}

.all_result{
    text-align: center;
}

.date_containe{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 600;
}






/* calculator styling */

.calculator_container{
    width: 500px;
    height: 600px;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-right: 100px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.calculator{
    width: 300px;
    height: 400px;
}

.button_cla{
    width: 70px;
    height: 70px;
    background-color: #1E5748;
    border-radius: 10px;
    margin: 2.5px;
    color: white;
}

.button_cla_plus{
    width: 70px;
    height: 140px;
    background-color: #1E5748;
    border-radius: 10px;
    margin: 2.5px;
    color: white;
}

.button_cla_zero{
    width: 145px;
    height: 70px;
    background-color: #1E5748;
    border-radius: 10px;
    margin-left: 2.5px;
    margin-right: 2.5px;
    color: white;
}

.up_container{
    display: flex;
    justify-content: flex-start;

}

.bottom_container{
    margin-top: -70px;
}

.input_cal{
    width: 300px;
    height: auto;
    padding: 5px;
    font-size: 30px;
}